@import "tailwindcss";

@theme {
  --color-black: #323232;
  --color-background-white: #FFFFFF;
  --color-grey-menu-light: #E6E6E6;
  --color-grey-stroke:#E6E6E6;
  --color-grey-txt-primary: #323232;
  --color-grey-bg-primary: #F5F5F5;
  --color-grey-stroke:#E6E6E6;
  --color-grey-menu-dark: #747474;
  --color-grey-txt-secondary: #848484;
  --color-grey-bg-pressed: #F0F0F0;
  --color-grey-bg-light: #F5F5F54D;
  --color-accent-primary: #0071FF;
  --color-grey-bg-hover: #E6E6E6;
  --color-accent-hover: #005ACC;
  --color-accent-pressed: #1A7FFF
}

body {
  background: var(--background-white);
  color: var(--grey-txt-primary);
  font-family: Raleway;
}
